/*The design for body includes - 
    - making it a flexbox, vertically oriented, to adjust elements in a scroll like manner
    - removing default margin and padding
    - setting the default font of the page*/
body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*Header design is split into 3 parts - 
    - The header box
    - The logo image
    - The navigation links*/

/*The header css includes - 
    - making it a flexbox to align items horizontally, and aligning apporpriately
    - setting header color
    - adding padding for spacing*/
.header {
    display: flex;
    background-color: #141414;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
}

.header img {
    width: 200px;
    height: auto;
}

/*This css for links - 
    - removes the bullet points
    - makes the points horizontally aligned
    - padding and gap between points to arrange appropriately*/
.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 12px;
}

/*This css for anchor tags styles it by only adding underline when hover on it*/
a {
    text-decoration: none; 
    color: white;  
    position: relative; 
}

/*Small detour to add an animated underline effect. Only detour since I need to get on with the course.
Can't stay here forever, tradeoff between curiosity, innovation and time*/

a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ff8b43;
    left: 50%;
    bottom: -2px;
    transition: width 0.5s ease;
}

a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ff8b43;
    right: 50%;
    bottom: -2px;
    transition: width 0.5s ease;
}

a:hover::before {
    width: 50%;
}

a:hover::after {
    width: 50%;
}

.hero {
    display: flex;
    background-color: #303030;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    padding: 12px 128px;
    text-align: center; 
    min-height: 500px;

    background-image: url(haikyu-images/wallpaper.jpg);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative; 
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* dark transparent overlay */
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2; /* puts your content above the overlay */
}

.hero-content h1 {
    font-size: 48px;
}

.hero-content #hero-text {
    font-size: 24px;
    max-width: 1000px;
    margin: 16px auto;
}

.hero-content #disclaimer {
    font-size: 16px;
    margin: 16px auto;

    line-height: 1.5; /* improves readability */
}

.information {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #141414;
    color: #ff7b00;
    gap: 32px;
    padding-bottom: 32px;
    padding-top: 16px;
}

.information h2 {
    font-size: 40px;
    font-weight: 900;
}

.character-cards {
    display: flex;
    gap: 150px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.character {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
}

.character img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 2s ease;
    transform-origin: center;
    display: block;
}

.character:hover img {
    transform: scale(1.1);
    border-radius: 8px;
}

.character::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    transition: opacity 0.9s ease;
    border-radius: 8px;
    border: 6px solid #ff8b43;

    display: flex;
    align-items: center;
    text-align: center;
    color: white; 
    padding: 0px 16px;
}

.character:hover::after {
    opacity: 1;
    border-radius: 8px;
}

#hinata::after {
    content: "Shoyo Hinata, the ultimate decoy, is the smallest middle blocker of the series. This first-year has an AMAZING weapon though, his jump. The main character who discovers something amazing with Kageyama later.";
}

#kageyama::after {
    content: "Kageyama Tobio, the genius first-year setter of the team. He can accurately make pinpoint tosses with the control of threading a needle. A genreational talent, awakened by Hinata Shoyo."
}

#tsukishima::after {
    content: "Tsukishima Kei, the tallest player of the team and is a middle blocker. A clever player with a thorny attitude. Often looks down on Hinata, but is secretely scared of his growth. We are jealous because he is so tall and cool but is a first-year only."
}

#daichi::after {
    content: "Daichi Sawamura, the cool-headed third-year captain of Karasuno with a burning-hot passion to win nationals. He is the foundation of the team and watches their backs as they aim to reach new heights. Also keeps the troublesome first-years in check. Inspiring and scary."
}

#nishinoya::after {
    content: "Nishinoya Yu, the guardian deity of Karasuno. He plays libero, and never lets the ball touch the floor. Wild doesn't even begin to describe him, but on the court he is surprisingly quiet and focused. The cheerful mood-maker of the team."
}

#kiyoko::after {
    content: "Kiyoko Shimizu, the most beautiful manager of Karasuno. She is famous in the volleyball community, but the Karasuno team guard her well from unwanted attraction. Very quiet and shy, but a motivational word from her can give the strength of a hundred men to the boys."
}

.video {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    align-items: center;
    background-color: #303030;
    color: #ffffff;
}

.quotes {
    padding: 32px 64px;
    font-size: 20px;
}

.quotes blockquote {
  font-style: italic;
  font-size: 16px;
  margin: 16px auto;
  padding: 12px 24px;
  max-width: 600px;
  border-left: 4px solid #ff8b43;
  background-color: rgba(255, 255, 255, 0.05);
  color: #141414;
}

.call-to-action {
    padding: 64px 128px;
    color: white;
    background-color: #303030;
}

.call-to-action .box {
    flex: 1;
    background-color: #ff7b00;
    padding: 32px 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 12px;
}

.box button {
    background-color: #ff7b00;
    color: white;
    border-radius: 3px;  
    font-size: 16px; 
    padding: 4px 16px;
    height: 35px;
    width: 95px;
    border: 3px solid white;
    border-radius: 12px;

}

button:active {
    background-color: rgb(0, 100, 200);
}

.footer {
    background-color: #141414;
    text-align: center;
    color: #e5e7eb;
    padding: 24px 0;
}