body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
}

.header img {
    width: 200px;
    height: auto;
}

.header ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 12px;
}

a {
    text-decoration: none; 
    color: white;   
}

a:hover {
    text-decoration: underline;
}